body {
    margin-top: 50px;
    /* background-image: url('bg.avif');
    background-size:cover;
    background-position: center; 
    background-repeat: repeat; */
    background-color:rgb(247, 240, 230);
    /* background-color:#faf3e0  ; */
}

img{
    width: 25px;
    height : 25px
}

#search-box{
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
    justify-content: center;
}

.input {
    width: 300px; 
    height: 30px; 
    padding: 8px; 
    margin: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    transition: color 0.3s ease; 
}

.input::placeholder {
    color: #999; 
}

.input:focus::placeholder {
    color: transparent; 
}




#userTable {
    font-size: 18px;
    text-align: center;
    border-collapse: collapse;
    width: 75%;
}

#userTable th, #userTable td {
    text-align: center;
    border: 1px solid #66304e;
    padding: 8px;
    text-align: left;
}

#userTable th {
    height: 35px;
    text-align: center;
    background-color: #6eb2da;
    /* background-color: #b47348   ; */

}
#userTable td {
    text-align: center;
}

#userTable tbody tr:nth-child(even) {
    background-color: #d1d1e2;
    /* background-color: #f5cba7   ; */
}

#userTable tbody tr:hover {
    background-color: #fff9f9;
}

.highlight-row {
    background-color: #97929241; /* Change to the color you want for highlighting */
}

#userTable tbody tr.highlight-row:nth-child(even) {
    background-color: #97929241; /* Change to the color you want for highlighting */
}